{% extends "base.html" %}
{% block title %}
    LITRevu - Connexion
{% endblock title %}
{% block description %}
    Connectez-vous à LITRevu pour partager vos critiques de livres et découvrir de nouvelles lectures.
{% endblock description %}
{% block content %}
    <section class="container mx-auto max-md:py-8 min-h-[calc(100vh-128px)] flex flex-col gap-4 justify-center items-center">
        <div class="bg-white p-8 border-4 border-black shadow-[4px_4px_0_#000] w-full max-w-lg">
            <h1 class="text-4xl font-extrabold mb-8">Connexion</h1>
            <form method="POST">
                {% csrf_token %}
                {% if form.non_field_errors %}
                    <p class="text-sm font-bold mb-4">{{ form.non_field_errors.0 }}</p>
                {% endif %}
                <div class="mb-6">
                    <label for="{{ form.username.id_for_label }}" class="sr-only">Nom d'utilisateur</label>
                    <input type="text"
                           name="{{ form.username.name }}"
                           id="{{ form.username.id_for_label }}"
                           placeholder="Nom d'utilisateur"
                           value="{{ form.username.value|default:'' }}"
                           class="w-full bg-white text-black px-3 py-3 border-2 border-black h-12">
                    {% if form.username.errors %}<p class="text-sm font-bold mt-1">{{ form.username.errors.0 }}</p>{% endif %}
                </div>
                <div class="mb-8">
                    <label for="{{ form.password.id_for_label }}" class="sr-only">Mot de passe</label>
                    <input type="password"
                           name="{{ form.password.name }}"
                           id="{{ form.password.id_for_label }}"
                           placeholder="Mot de passe"
                           class="w-full bg-white text-black px-3 py-3 border-2 border-black h-12">
                    {% if form.password.errors %}<p class="text-sm font-bold mt-1">{{ form.password.errors.0 }}</p>{% endif %}
                </div>
                <button type="submit"
                        class="w-full bg-black text-white text-sm font-bold uppercase px-6 py-3 border-4 border-black shadow-[4px_4px_0_#000] hover:scale-105 transition-transform duration-300">
                    Se connecter
                </button>
            </form>
            <div class="mt-8 text-center">
                <p>Pas encore de compte ?</p>
                <a href="{% url 'signup' %}"
                   class="font-semibold underline mt-2 inline-block">S'inscrire</a>
            </div>
        </div>
    </section>
{% endblock content %}
