{% extends "base.html" %}
{% block title %}
  LITRevu - Plateforme de critiques littéraires
{% endblock title %}
{% block description %}
  LITRevu est une plateforme de critiques littéraires qui offre une expérience immersive pour les amateurs de lecture.
{% endblock description %}
{% block content %}
  <section class="container mx-auto max-md:py-8 min-h-[calc(100vh-128px)] flex flex-col gap-4 p-16">
    <h1 class="text-6xl max-md:text-4xl font-extrabold uppercase">LITRevu</h1>
    <p class="text-base font-normal text-gray-700">
      Les critiques de livres et d'articles, par une communauté de confiance.
    </p>
    <div class="flex gap-8 mt-8">
      <a href="{% url 'login' %}"
         class="bg-black text-white text-sm font-bold uppercase px-6 py-3 border-4 border-black shadow-[4px_4px_0_#000] hover:scale-105 transition-transform duration-300">Connexion</a>
      <a href="{% url 'signup' %}"
         class="bg-white text-black text-sm font-bold uppercase px-6 py-3 border-4 border-black shadow-[4px_4px_0_#000] hover:scale-105 transition-transform duration-300">S'inscrire</a>
    </div>
  </section>
{% endblock content %}
